@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  scroll-behavior: smooth !important;
}
.containertwo {
  background-image: linear-gradient(
      0deg,
      rgba(101, 140, 74, 0.9),
      rgba(101, 140, 74, 0.9)
    ),
    url("./assets/job.jpg");
  background-size: cover;
}
.testimonials {
  background-color: #e7cec0;
  opacity: 1;
  background-image: radial-gradient(#658c4a 1px, #e7cec0 1px);
  background-size: 18px 18px;
}

.logo {
  width: 2rem !important;
}

.newsletter {
  background: url("./assets/newsletter.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.submit {
  position: absolute;
  left: 0;
}
.newsletterInput {
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
}

.footerContainer {
  background: url("./assets/background.png") no-repeat;
  background-position: center bottom;
}

.btn-border:hover {
  border: 1px solid #658c4a !important;
}

.hero1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  /* bottom: 0; */
  margin: auto;
}
.lobby-heading {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 2rem;
}

.label {
  display: block;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
}

.input {
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f8faf5;
  padding: 0.5rem 1rem;
  font-size: 16px;
}

.button {
  width: 100%;
  padding: 1.5rem;
  margin-top: 3rem;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
  background-color: #658c48;
  color: white;
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

/* Room.jsx */

.room-container {
  width: 100vw;
  height: 100vh;
  /* background-color: #092635; */
  background-image: url(assets/backimage.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}

.myStream {
  display: inline-block;
}

.remoteStream {
  overflow: hidden;
  display: inline-block;
}

.screens {
  justify-content: center;
}

.other-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-btn {
  font-size: 20px;
  background-color: red;
  color: white;
  padding: 1rem 1.25rem;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 2rem;
}

.welcome-text {
  font-size: 28px;
  text-align: center;
  color: black;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  padding-top: 5rem;
}

.wait-text {
  font-size: 18px;
  text-align: center;
  color: black;
  font-family: "Libre Baskerville", serif;
  margin-top: 1rem;
}

.call-btn {
  padding: 1.5rem 3rem;
  margin-top: 3rem;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
  background-color: #658c48;
  color: white;
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

.accept-btn {
  font-size: 20px;
  background-color: green;
  color: white;
  padding: 1rem 1.25rem;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
}
